<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myloginapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLoginApp">
        <activity
            android:name=".StoreNvActivity"
            android:exported="false"
            android:label="@string/title_activity_store_nv"
            android:theme="@style/Theme.MyLoginApp.NoActionBar"/>
        <activity
            android:name=".StoreWaitOrderDetActivity"
            android:exported="false" />
        <activity
            android:name=".ManagerDrawActivity"
            android:exported="false"
            android:label="@string/title_activity_manager_draw"
            android:theme="@style/Theme.MyLoginApp.NoActionBar" />
        <activity
            android:name=".ManagerDeliverinfoActivity"
            android:exported="false" />
        <activity
            android:name=".ManagerManageDeliverActivity"
            android:exported="false" />
        <activity
            android:name=".ManagerMemberinfoActivity"
            android:exported="false" />
        <activity
            android:name=".ManagerManageMemberActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerAccountActivity"
            android:exported="false" />
        <activity
            android:name=".CustomItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CustomItemList"
            android:exported="false" />
        <activity
            android:name=".CustomMainActivity"
            android:exported="false" />
        <activity
            android:name=".CustomMealActivity"
            android:exported="false" />
        <activity
            android:name=".CustomShopCartActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".StoreOrderAcceptDetActivity"
            android:exported="false" />
        <activity
            android:name=".StoreOrderCompleteDetActivity"
            android:exported="false" />
        <activity
            android:name=".StoreProductAdd"
            android:exported="false" />
        <activity
            android:name=".StoreProductEdit"
            android:exported="false" />
        <activity
            android:name=".RoleChose"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>